<div class="primary-container">
    <h3>My projects</h3>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/blank-computer.png" alt="Blank computer">
        </div>
        <div class="content">
            <p>London Stock Exchange web scraper</p>
            <p>An application for scraping financial data for any size set of companies from the London Stock Exchange website. 
                The user is able to select from a list which financial metrics they are interested in retrieving.</p>
            <div class="chips">
                <p>Python</p>
                <p>Pandas</p>
                <p>Beautiful Soup</p>
                <p>Kivy</p>
            </div>
            <img src="../../assets/images/github-icon.png" alt="Github logo">
            <img src="../../assets/images/internet-icon.png" alt="Internet icon">
        </div>
    </div>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/blank-computer.png" alt="Blank computer">
        </div>
        <div class="content">
            <p>London Stock Exchange web scraper</p>
            <p>An application for scraping financial data for any size set of companies from the London Stock Exchange website. 
                The user is able to select from a list which financial metrics they are interested in retrieving.</p>
            <div class="chips">
                <p>Python</p>
                <p>Pandas</p>
                <p>Beautiful Soup</p>
                <p>Kivy</p>
            </div>
            <img src="../../assets/images/github-icon.png" alt="Github logo">
            <img src="../../assets/images/internet-icon.png" alt="Internet icon">
        </div>
    </div>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/blank-computer.png" alt="Blank computer">
        </div>
        <div class="content">
            <p>London Stock Exchange web scraper</p>
            <p>An application for scraping financial data for any size set of companies from the London Stock Exchange website. 
                The user is able to select from a list which financial metrics they are interested in retrieving.</p>
            <div class="chips">
                <p>Python</p>
                <p>Pandas</p>
                <p>Beautiful Soup</p>
                <p>Kivy</p>
            </div>
            <img src="../../assets/images/github-icon.png" alt="Github logo">
            <img src="../../assets/images/internet-icon.png" alt="Internet icon">
        </div>
    </div>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/blank-computer.png" alt="Blank computer">
        </div>
        <div class="content">
            <p>London Stock Exchange web scraper</p>
            <p>An application for scraping financial data for any size set of companies from the London Stock Exchange website. 
                The user is able to select from a list which financial metrics they are interested in retrieving.</p>
            <div class="chips">
                <p>Python</p>
                <p>Pandas</p>
                <p>Beautiful Soup</p>
                <p>Kivy</p>
            </div>
            <img src="../../assets/images/github-icon.png" alt="Github logo">
            <img src="../../assets/images/internet-icon.png" alt="Internet icon">
        </div>
    </div>
    <div class="project">
        <div class="image">
            <img src="../../assets/images/blank-computer.png" alt="Blank computer">
        </div>
        <div class="content">
            <p>London Stock Exchange web scraper</p>
            <p>An application for scraping financial data for any size set of companies from the London Stock Exchange website. 
                The user is able to select from a list which financial metrics they are interested in retrieving.</p>
            <div class="chips">
                <p>Python</p>
                <p>Pandas</p>
                <p>Beautiful Soup</p>
                <p>Kivy</p>
            </div>
            <img src="../../assets/images/github-icon.png" alt="Github logo">
            <img src="../../assets/images/internet-icon.png" alt="Internet icon">
        </div>
    </div>

</div>

