<div class="primary-container">
    <h3>Talk to me</h3>
    <div class="wrapper">
        <div class="contact-form">
            <div class="input-fields">
                <input type="text" class="input" placeholder="Name">
                <input type="text" class="input" placeholder="Email address">
                <input type="text" class="input" placeholder="Phone">
                <input type="text" class="input" placeholder="Subject">
            </div>
            <div class="msg">
                <textarea placeholder="Message"></textarea>
                <div class="btn">Send</div>
            </div>
        </div>
    </div>
</div>

