<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" type="text/css" href="app.component.css">
      <title>Harry Shuttleworth</title>
    </head>
    <body>

      <div class="logo">
        <img src="../assets/images/logo-round.png" alt="Harry Logo">
      </div>

      <div class="nav-bar-2">
          <button (click)="loadHomeComponent();">Home</button>
          <button (click)="loadAboutComponent();">About</button>
          <button (click)="loadProjectsComponent();">Projects</button>
          <button (click)="loadSkillsComponent();">Skills</button>
          <button (click)="loadContactComponent();">Contact</button>
      </div>

      <div>
        <app-home *ngIf="homeComponent"></app-home>
        <app-about *ngIf="aboutComponent"></app-about>        
        <app-projects *ngIf="projectComponent"></app-projects>
        <app-skills *ngIf="skillsComponent"></app-skills>
        <app-contact *ngIf="contactComponent"></app-contact>
      </div>
    </body>

  </html>