.desc {
    left: 47.5%;
    position: absolute;
    top: 30%;
    padding: none;
    width: 5%;
}

img {
    max-width: 100%;
    height: auto;
}

.tag-line{
    width: 20%;
    left: 40%;
    top: 43%;
    position: absolute;
    text-align: center;
    font-size: large;
    font-weight: 600;
}

.call-to-action p {
    display: inline-block;
    margin: 25px;
    color: white;
    font-weight: bold;
}

.call-to-action{
    position: absolute;
    top: 50%;
    text-align: center;
    left: 40%;
    width: 20%;
}